/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Botón de cambio de claro/oscuro*/

#cambio {
    position: relative;
    display: block;
    height: 50px;
    width:100px;
    border-radius: 160px;
    background-color: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgb(0,0,0,0.1),
    inset 0 8px 8px rgb(0,0,0,0.1),
    inset 0 -4px 4px rgb(0,0,0,0.1);
    margin: auto;
}
#cambio.active {
    background-color: #fff;
    box-shadow:  inset 0 2px 60px rgb(0,0,0,0.1),
    inset 0 2px 8px rgb(0,0,0,0.1),
    inset 0 -4px 4px rgb(0,0,0,0.05);
}
#cambio .indicador {
    position: absolute; 
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgb(0,0,0,0.5),
    inset 0 4px 4px rgb(255, 255, 255, 0.2),
    inset 0 -4px 4px rgb(255, 255, 255, 0.2);
    transition: 0.5s;
}

#cambio.active .indicador {
    left: 50px;
    background-color: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 8px 20px rgb(0,0,0,0.1),
    inset 0 4px 4px rgb(255, 255, 255, 1),
    inset 0 -4px 4px rgb(255, 255, 255, 1);
}

body.active,.navegador.active, .footer.active  {
    background-color: #fff;
}


.estudios.active,.experiencia.active, .cursos.active,
#mencion.active, .proyectos.active,.presentacion.active,
section.active, .cbm.active, .habilidades.active {
    background-color: #222020;
}

.navegador nav ul li a.active, .flecha a i.active, .derechos p.active{
    color: #000;
}

.navegador nav ul li a.active{
    background-color:  #fff;
}
/*Animación de subir y bajar*/
.descripcion, .estudios,.proyectos,.conocimientos,.cursos, .experiencia,.menciones, .habilidades{
    
    view-timeline-name: --animacion;
    view-timeline-axis: block;

    animation-timeline: --animacion;
    animation-name: mostrar;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}

@keyframes mostrar {
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

/* Cuerpo */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-rows: auto auto;
    background-color: #1e2326;
}

/* Menú */

.navegador {
    position: absolute;
    width: 100%;
    min-height: 66px;
    background: #1e2326;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-row: 1;
    top: 0;
    position: sticky;
    z-index: 1;
}


.navegador nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.navegador nav ul li {
    position: relative;
    
}

.navegador nav ul li a {
    color: white;
    font-size: 1.1em;
    padding: 20px 25px;
    text-decoration: none;
    display: block;
    transition: color 0.5s, background 0.5s, text-decoration 0.5s;
}

.navegador nav ul li a:hover {
    color:#1CB698;
    text-decoration: underline 2px;
}

.menu_toggle {
    display: none;
}



@media (max-width: 1300px) {
    .navegador {
        padding: 10px 20px;
        justify-content: space-between;
        background-color: #1e2326;
    }

    .navegador nav {
        position: absolute;
        width: auto;
        top: 66px;
        right: 0;
        
        display: none;
        flex-direction: column;
        align-items: flex-end;
    }

    .navegador.responsive nav {
        display: flex;
    }

    .navegador nav ul {
        flex-direction: column;
        width: auto;
        padding: 0;
    }

    .navegador nav ul li {
        min-width: max-content;
        max-width: 100%;
        text-align: left;
        margin-right: 10px;
        padding: 0px 0;
        border-bottom: #fff 2px solid;
        background-color: #1e2326;
    }

    .menu_toggle {
        display: block;
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        
    }
    
    .menu_toggle::before,
    .menu_toggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: white;
    }

    .menu_toggle::before {
        transform: translateY(-12px);
        box-shadow: 0 12px #ffffff;
    }

    .menu_toggle::after {
        transform: translateY(12px);
    }

    .navegador.responsive .menu_toggle::before {
        transform: rotate(45deg);
        box-shadow: 0 0 white;
    }

    .navegador.responsive .menu_toggle::after {
        transform: rotate(315deg);
    }
    
    .menu_toggle.active::before {
        background-color: #000;
        box-shadow: 0 12px #000000;
    }

    .menu_toggle.active::after {
        color: #000;
        background-color: #000;
    }
}


/* Main */
main {
    grid-row: 2;
}

/*Presentación*/

.inicio{
    background: url("../imagenes/fondo_inicio.jpg");
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.presentacion {
    height: auto;
    width: auto;
    display: grid;
    grid-template-rows: auto auto;
    font-family: "Poppins", sans-serif;
    background-color: #444554;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: #000 2px 2px 5px;
    padding: 10px;
    text-align: center;
}

.image-presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-mia {
    margin-top: 10px;
    width:300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border:  #1CB698 10px solid;
    display: block;
    box-shadow: 2px 5px 10px #000000;
}

.iconos a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    text-align: center;
}

.iconos a:hover{
    background-color: #1CB698;
}

.presentacion h1 {
    grid-row:1;
    color: #ffffff;
    text-shadow: #000000 2px 2px 5px;
    width: 19ch;
    padding: 0px;
    margin-top: 10px;
    margin: auto;
    font-size: 25px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    animation: escribir 2s steps(19), parpadear .5s infinite step-end alternate;
}

@keyframes escribir {
    from {width: 0;}
}

@keyframes parpadear {
    50%{
        border-color: transparent;;
    }
}

.presentacion h2 {
    grid-row:1;
    text-align: center;
    color: #ffffff;
    text-shadow: #000000 2px 2px 5px;
    width: 100%;
    padding: 0px;
    margin-top: 10px;
    font-size: 13px;
}

.presentacion hr {
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    height: 1px;
    color: rgb(0, 0, 0);
    background: #ffffff;
}

/*Página sobre mí*/

/*Departamentos: Servicios y Descripción*/

.descripcion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #444554;
    border: 1px black solid;
    border-radius: 25px;
    margin: 20px 20px 20px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    
}

.about_me {
    grid-column: 1;

    padding: 20px;
    border-right: 1px #ffffff solid;
}

.descripcion h3 {
    text-align: center;
}

.descripcion p {
    color: #f2f2f2;
}

.descripcion .gustos {
    text-align: center;
    grid-column: 2;
    padding: 20px;
}

.gustos .columna-gustos .contenedor-gustos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.gustos .gusto {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    color: #1CB698;
}

.gustos .columna-gustos .contenedor-gustos .gusto:hover {
    background-color: #1CB698;
    color: #fff;
}

.gustos .columna-gustos .contenedor-gustos .gusto i {
    font-size: 30px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .gustos .gusto {
        width: 80px;
        height: 80px;
        margin: 5px;
    }

    .gustos .columna-gustos .contenedor-gustos .gusto i {
        font-size: 24px;
    }
}


.h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-shadow: #000000 2px 2px 5px;
    text-decoration: underline;
}

/*Conocimientos*/

.conocimientos {
    display: grid;
    background-color: #444554;
    border: 1px black solid;
    border-radius: 5px;
    border-radius: 25px;
    margin: 20px 20px 20px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    grid-template-columns: 50% 50%;
}

.conocimientos ul {
    list-style-type: none;
    padding: 0;
    grid-column: 2;
    grid-row: 1/2;
    margin-left: 100px;
    color: #ffffff;
}

.conocimientos .h3 {
    align-self: center;
    text-align: center;
    grid-row: 1;
    grid-column: 1;
}

.conocimientos li {
    transition: background-color 0.3s ease, padding 0.3s ease;
    margin: 5px;
}

.conocimientos .boton {
    display: inline-block; 
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    color: #f2f2f2;
    text-decoration: none;
    transition: color 1s ease, color 1s ease;
    font-size: inherit;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.conocimientos .boton:hover {
    color: #1CB698;
    text-decoration: underline 1px #1CB698;
    cursor: pointer;
    transition: color 0.7s ease, color 0.7s ease;
}

/*Modal*/

.modal {
    width: 80%;
    max-width: 500px; 
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 3px 5px 0px rgb(255, 255, 255);
    z-index: 1;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    animation: aparecer_botando 0.5s forwards;
    background-color: #1CB698;
    color: #FFB900;
    border: #000000 2px solid;
}


.modal ul {
    list-style: none;
    padding: 0px;
    color: #ffffff;
}

.modal ul li:hover{
    background-color: #1CB698;
}

.modal h2 {
    text-decoration: underline #FFB900 2px;
    margin-bottom: 20px;
}

.modal button {
    background-color: #FFB900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    border: #000 1px solid;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: #fff;
}

.modal button:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fff;
    transform: scale(1.15);
    border: #000 1px solid;
    color: #1CB698;
}

.en_negro {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

@keyframes aparecer_botando {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0.5;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.05);
        opacity: 1;
    }
    70% {
        transform: translate(-50%, -50%) scale(0.95);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

/*Habilidades*/
.habilidades {
    background-color: #444554;
    border: 1px black solid;
    border-radius: 5px;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    justify-content: center;
    flex-wrap: wrap;
}

.habilidades .skill_columna{
    width: 50%;
    padding: 0 20px;
    box-sizing: border-box;
    margin:20px;
}
.skill_columna .skill > span{
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
.skill{
    width: 100%;
    margin-top: 10px;
}
.skill_fila{
    justify-content: center; 
    margin: auto;
    display: flex;
    margin-bottom: 20px;
}
.skill .barra{
    height: 8px;
    width: 80%;
    background-color: #FFB900;
    position: relative;
    margin-top: 20px;
}
.skill .proceso{
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skill .barra span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    color: #000;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top:-17px;
    right: -15px;
    font-size: 14px;
}

.skill span{
    color: #fff;
}

.skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 50%;}
}

.skill .trabajo_equipo{
    width: 0%;
    animation: 2s trabajo_equipo forwards;
}
@keyframes trabajo_equipo {
    0%{width: 0%;}
    100%{width: 80%;}
}

.habilidades .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 60%;}
}

.habilidades .skill .capacidad{
    width: 0%;
    animation: 2s capacidad forwards;
}
@keyframes capacidad {
    0%{width: 0%;}
    100%{width: 85%;}
}

.habilidades .skill .tiempo{
    width: 0%;
    animation: 2s tiempo forwards;
}
@keyframes tiempo {
    0%{width: 0%;}
    100%{width: 90%;}
}

.habilidades .skill .adaptabilidad{
    width: 0%;
    animation: 2s adaptabilidad forwards;
}
@keyframes adaptabilidad {
    0%{width: 0%;}
    100%{width: 70%;}
}

.habilidades .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 95%;}
}

.habilidades .skill .lider{
    width: 0%;
    animation: 2s lider forwards;
}
@keyframes lider {
    0%{width: 0%;}
    100%{width: 75%;}
}

.habilidades .skill .empatia{
    width: 0%;
    animation: 2s empatia forwards;
}
@keyframes empatia{
    0%{width: 0%;}
    100%{width: 100%;}
}

.habilidades .skill .total{
    width: 0%;
    animation: 2s total forwards;
}
@keyframes total {
    0%{width: 0%;}
    100%{width: 45%;}
}
/*Estudios*/

.estudios{
    display: grid;
    grid-template-rows: auto auto;
    background: #444554;
    border: 1px black solid;
    border-radius: 25px;
    margin: 20px 20px 20px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}


.estudios .estudios_previos{
    display: flex;
    flex-wrap: wrap;
    
}

.estudios_previos img{
    width: 300px;
    height: 20vh;
    border-radius: 5px;
    box-shadow: #000000 2px 2px 10px;
    display: block;
    transition: opacity 0.3s ease;
}

.estudios_previos .e1 {
    background-color: #1CB698;
    text-align: center;
    border-radius: 50px;
    animation: fadeIn 2s 1s ease both;
}

.estudios_previos .e3{
    background-color: #1CB698;
    border-radius: 50px;
    text-align: center;
    animation: fadeOut 2s 1s ease both;
}

.estudios_previos > .e2{
    background-color: #1CB698;
    border-radius: 50px;
    text-align: center;
    animation: fadeOver 2s 1s ease both;
}

.estudios_previos p {
    color: #ffffff;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    opacity: 0;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease, bottom 0.3s ease;
    width: 90%;
}

.e1,.e2,.e3{
    height: auto;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estudios_previos .e1:hover img,
.estudios_previos .e2:hover img,
.estudios_previos .e3:hover img {
    opacity: 0;
}

.estudios_previos .e1:hover p,
.estudios_previos .e2:hover p,
.estudios_previos .e3:hover p {
    opacity: 1;
    bottom: auto;
    overflow: visible;
    align-self: center;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOver {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Experiencia*/

.experiencia {
    display: grid;
    grid-template-rows: auto auto;
    background: #444554;
    border: 1px solid black;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.ex1:hover {
    transform: scale(1.05);
}

.experiencia h3 {
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

.experiencia .experiencia_previa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.ex1 {
    background-color: #1CB698;
    border-radius: 25px;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.ex1:hover {
    background-color: #17a88c;
}

.ex1 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.ex1 p {
    color: #ffffff;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
}

.ex1 ul {
    list-style: none;
    padding: 0;
    color: #ffffff;
}

.ex1 ul li {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 5px 0;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.ex1 ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}



/*Menciones*/

.menciones {
    background: #444554;
    border: 1px black solid;
    border-radius: 25px;
    margin: 20px 20px 20px;
    text-align: center;
    position: relative;
}

.swiper {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    padding: 150px 0 50px 0;
}
.swiper .swiper-slide{
    width: 30%;
    height: 500px;
    background-color: #1CB698;
    box-shadow: 0 0 20px rgb(0,0,0,0.4);
    padding: 40px;
    text-align: center;
}

.iconos_mencion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

}

.iconos_mencion i{
    font-size: 20px;
    color: #FFB900;
}

.iconos_mencion .logo{
    width: 100px;
    height: 50px;
}

.contenido_mencion{
    display: flex;
    justify-content: space-between;
}

.texto{
    flex-basis: 50%;
    text-align: left;
}

.texto span{
    font-size: 25px;
    color: #FFB900;
    font-weight: bold;
}

.texto h3{
    font-size: 20px;
    color:#FFF;
    text-transform: uppercase;
}

.texto p{
    font-size: 14px;
    color:#ffffff;
}

.img_mencion{
    flex-basis: 50%;
    text-align: right;
}

.img_mencion img{
    width: 100px;
}

.menciones .swiper .swiper-button-next,.menciones .swiper  .swiper-button-prev{
    color: transparent;
    position:inherit;
}
.btn-1{
    display: inline-block;
    padding: 13px 15px;
    border: 1px solid #FFB900;
    border-radius: 25px;
    color: #FFB900;
    text-decoration: none;
    margin-top: 50px;
}

/*Certificados y Cursos*/

.cursos {
    grid-row: 2;
    text-align: center;
    margin: 20px 20px 20px;
    background-color: #444554;
    border-radius: 25px;
    padding:20px
}

.galeria {
    width: 85%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 40px;
}

.galeria img {
    width: 100%; 
    cursor: pointer;
    transition: 1s;
    border-radius: 25px;
    object-fit: cover;
    border: #000000 1px solid;
}

.galeria img:hover {
    transform: scale(1.3);
}


.cursos h4 {
    font-size: 20px;
    color: #ffffff;
    padding: 20px 40px; 
    margin: 20px 0;
    border-radius: 10px; 
    text-align: center;
    text-shadow: 2px 2px 5px #00000033;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: overline underline;
    align-self: center;
    
}

.cursos p {
    text-align: center;
}

.curso-MC {
    color: white;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 25px;
    font-size: 15px;
    margin: 10px 20px;
    margin-bottom: 20px;
    border: #000000 1px solid;
    grid-column: 2;
}

.cbm{
    background-color: #444554;
    margin-bottom: 40px;
    border-radius: 25px;
}

.cbm .curso-MC {
    background-color: #1CB698;
}


/*Info de Proyectos*/


.proyectos {
    text-align: center;
    background-color: #444554;
    border-radius: 25px;
    margin: 20px 20px 20px;
    padding:20px
}

.cartas {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.contorno1, .contorno2, .contorno3, .contorno4, .contorno6,.contorno5 {
    display: flex;
    flex-direction: column;
    width: calc(25% - 50px);
    margin: 0 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

@media (min-width: 1443px) {
    .proyectos .cartas{
        text-align: center;
    }
    .contorno1, .contorno2, .contorno3, .contorno4,.contorno6,.contorno5 {
        margin-right: 100px;
    }
}

@media (max-width: 1440px) {
    .proyectos .cartas{
        text-align: center;
    }
    .contorno1, .contorno2, .contorno3, .contorno4 {
        margin-right: 200px;
    }
}
@media (max-width: 1200px) {
    .cartas{
        text-align: center;
    }
    .contorno1, .contorno2, .contorno3, .contorno4 {
        margin-right: 250px;
    }
}

@media (max-width: 1200px) {
    .cartas{
        text-align: center;
    }
    .contorno1, .contorno2, .contorno3, .contorno4 {
        margin-right: 320px;
    }
}

.carta, .cara1 {
    width: 450px;
    height: 500px;
    perspective: 2000px;
    
}
.contorno2 .cara1 {
    background-color:  #254267;
}

.contorno3 .cara1 {
    background-color:  #6fa419;
}

.contorno4 .cara1 {
    background-color:  #ffffff;
}
.contorno6 .cara1{
    background-color: #ffcc00;
}

.cara1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../imagenes/Carats.png');
    background-position: center;
    border-radius: 30px;
    border: #000000 1px solid;
}

.medio {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20 (black, 0.2);
    border-radius: 28px;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

.cara1, .cara2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    backface-visibility: hidden;
    justify-content: center;
    align-content: center;
}

.cara2 {
    font-size: 1.25rem;
    text-align: center;
    place-items: center;
    background-color: #1CB698;
    transform: rotateY(-180deg);
    border-radius: 30px;
    border: #000000 1px solid;
}

.carta:hover .medio {
    transform: rotateY(-180deg);
}

.cara2 h4 {
    font-style: italic;
    color: #fff;
    text-decoration: underline;
    margin-top: 15px;
}

.cara2 p {
    font-size: 15px;
    color: #fff;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0px;
    text-align: center;
}

.proyectos h5 {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: #fff;
}

.cara2 a{
    color: #fff;
    text-decoration: none;
}

.cara2 a:hover{
    color: #0a66c2;
    text-decoration: underline;
}

/*Footer*/

.footer {
    padding: 0px 0;
    display: grid;
    grid-row: 3;
    position: none;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #1e2326;    
}

:root{
    --facebook: #00ff84;
    --instagram: #6c757d;
    --twitter: #0f0f0f;
    --youtube: #254267;
    --linkedin: #0a66c2;
    --download: #0000ff;
    --certificado: #FFB900;
    --web: green;
    --poster: #ea18ea;
}
.footer .redessociales {
    margin-top: 20px;
    padding: 0px;
    display: block;
}
.derechos {
    text-align: center;
    color: #ffffff;
    padding: 10px; 
    align-self: center;
}

.flecha {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding: 10px; 
    align-self: center;
}

.flecha a i{
    color: #fff;
    animation: animacion_flecha 2s infinite;
}

.flecha a i:hover{
    color:#1CB698;
    transform: scale(1.4);
}

.redessociales {
    grid-column: 3;
    display: flex;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:10px;
}

.redessociales ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 30px;
    text-align: center;
}

.redessociales ul li a {
    display: block;
    padding:0 10px;
    background-color: #808080;
    color: #ffffff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px;
    transition: 0.4s;
}

.redessociales ul:hover a{
    filter:blur(1px);
    color: #fff;
}

.redessociales ul li a:hover {
    transform: translateY(-3px) scale(1.5);
    filter: none;
}

.redessociales ul li .download {
    background-color: var(--download);
}
.redessociales ul li .instagram {
    background-color: var(--instagram);
}
.redessociales ul li .twitter {
    background-color: var(--twitter);
}
.redessociales ul li .youtube{
    background-color: var(--youtube);
}
.redessociales ul li .linkedin{
    background-color: var(--linkedin);
}
.redessociales ul li .facebook{
    background-color: var(--facebook);
}
.redessociales ul li .web {
    background-color: var(--web);
}

.redessociales ul li .certificado {
    background-color: var(--certificado);
}

.redessociales ul li .poster {
    background-color: var(--poster);
}

@keyframes animacion_flecha {
    100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    0%{
        transform: translateY(0px);
    }
}